In [1]:
import pandas as pd
import numpy as np

sept_dfs = []

sept_dfs.append(pd.read_csv('2024 BIKE DATA/202409-citibike-tripdata/202409-citibike-tripdata_1.csv'))
sept_dfs.append(pd.read_csv('2024 BIKE DATA/202409-citibike-tripdata/202409-citibike-tripdata_2.csv'))
sept_dfs.append(pd.read_csv('2024 BIKE DATA/202409-citibike-tripdata/202409-citibike-tripdata_3.csv'))
sept_dfs.append(pd.read_csv('2024 BIKE DATA/202409-citibike-tripdata/202409-citibike-tripdata_4.csv'))
sept_dfs.append(pd.read_csv('2024 BIKE DATA/202409-citibike-tripdata/202409-citibike-tripdata_5.csv'))

sept = pd.concat(sept_dfs)
sept.head()

/var/folders/lz/kzff5gf543sbfrp4_42hxgwc0000gn/T/ipykernel_8716/1403907321.py:6: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  sept_dfs.append(pd.read_csv('2024 BIKE DATA/202409-citibike-tripdata/202409-citibike-tripdata_1.csv'))
/var/folders/lz/kzff5gf543sbfrp4_42hxgwc0000gn/T/ipykernel_8716/1403907321.py:7: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  sept_dfs.append(pd.read_csv('2024 BIKE DATA/202409-citibike-tripdata/202409-citibike-tripdata_2.csv'))
/var/folders/lz/kzff5gf543sbfrp4_42hxgwc0000gn/T/ipykernel_8716/1403907321.py:8: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  sept_dfs.append(pd.read_csv('2024 BIKE DATA/202409-citibike-tripdata/202409-citibike-tripdata_3.csv'))
/var/folders/lz/kzff5gf543sbfrp4_42hxgwc0000gn/T/ipykernel_8716/1403907321.py:9: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  sept_dfs.append(pd.read_csv('2024 BIKE DATA/202409-citibike-tripdata/202409-citibike-tripdata_4.csv'))
/var/folders/lz/kzff5gf543sbfrp4_42hxgwc0000gn/T/ipykernel_8716/1403907321.py:10: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  sept_dfs.append(pd.read_csv('2024 BIKE DATA/202409-citibike-tripdata/202409-citibike-tripdata_5.csv'))

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,D86F678648E7A867,electric_bike,2024-09-10 22:50:16.212,2024-09-10 23:30:44.697,Hudson St & W 13 St,6115.06,Broadway & W 58 St,6948.10,40.740057,-74.005274,40.766953,-73.981693,casual
1,032D1788CD512084,electric_bike,2024-09-22 05:51:00.609,2024-09-22 05:56:50.446,W 37 St & 5 Ave,6398.06,9 Ave & W 45 St,6717.06,40.750380,-73.983390,40.760193,-73.991255,member
2,DA55381E5121F0F9,electric_bike,2024-09-24 11:07:40.618,2024-09-24 11:29:23.460,Greenpoint Ave & West St,5752.09,2 Ave & E 72 St,6925.09,40.729803,-73.959099,40.768762,-73.958408,member
3,F67A042C028C6367,classic_bike,2024-09-03 14:25:28.732,2024-09-03 14:33:51.075,E 85 St & 3 Ave,7212.05,2 Ave & E 72 St,6925.09,40.778012,-73.954071,40.768762,-73.958408,member
4,31F722D5EAB9C780,electric_bike,2024-09-09 15:46:50.376,2024-09-09 15:50:16.411,7 Ave & Park Pl,4125.07,Carroll St & 6 Ave,4019.06,40.677615,-73.973243,40.674089,-73.978728,member

In [2]:
oct_dfs = []

oct_dfs.append(pd.read_csv('2024 BIKE DATA/202410-citibike-tripdata/202410-citibike-tripdata_1.csv'))
oct_dfs.append(pd.read_csv('2024 BIKE DATA/202410-citibike-tripdata/202410-citibike-tripdata_2.csv'))
oct_dfs.append(pd.read_csv('2024 BIKE DATA/202410-citibike-tripdata/202410-citibike-tripdata_3.csv'))
oct_dfs.append(pd.read_csv('2024 BIKE DATA/202410-citibike-tripdata/202410-citibike-tripdata_4.csv'))
oct_dfs.append(pd.read_csv('2024 BIKE DATA/202410-citibike-tripdata/202410-citibike-tripdata_5.csv'))
oct_dfs.append(pd.read_csv('2024 BIKE DATA/202410-citibike-tripdata/202410-citibike-tripdata_6.csv'))

oct = pd.concat(oct_dfs)
oct.head()

/var/folders/lz/kzff5gf543sbfrp4_42hxgwc0000gn/T/ipykernel_8716/1420223056.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  oct_dfs.append(pd.read_csv('2024 BIKE DATA/202410-citibike-tripdata/202410-citibike-tripdata_1.csv'))
/var/folders/lz/kzff5gf543sbfrp4_42hxgwc0000gn/T/ipykernel_8716/1420223056.py:4: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  oct_dfs.append(pd.read_csv('2024 BIKE DATA/202410-citibike-tripdata/202410-citibike-tripdata_2.csv'))
/var/folders/lz/kzff5gf543sbfrp4_42hxgwc0000gn/T/ipykernel_8716/1420223056.py:5: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  oct_dfs.append(pd.read_csv('2024 BIKE DATA/202410-citibike-tripdata/202410-citibike-tripdata_3.csv'))
/var/folders/lz/kzff5gf543sbfrp4_42hxgwc0000gn/T/ipykernel_8716/1420223056.py:6: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  oct_dfs.append(pd.read_csv('2024 BIKE DATA/202410-citibike-tripdata/202410-citibike-tripdata_4.csv'))
/var/folders/lz/kzff5gf543sbfrp4_42hxgwc0000gn/T/ipykernel_8716/1420223056.py:7: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  oct_dfs.append(pd.read_csv('2024 BIKE DATA/202410-citibike-tripdata/202410-citibike-tripdata_5.csv'))
/var/folders/lz/kzff5gf543sbfrp4_42hxgwc0000gn/T/ipykernel_8716/1420223056.py:8: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  oct_dfs.append(pd.read_csv('2024 BIKE DATA/202410-citibike-tripdata/202410-citibike-tripdata_6.csv'))

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,B4544C93905FA10E,electric_bike,2024-10-13 17:38:36.748,2024-10-13 17:45:22.657,Rutgers St & Henry St,5230.02,Lafayette St & Grand St,5422.09,40.713322,-73.990097,40.720280,-73.998790,member
1,435860FFE89FC278,electric_bike,2024-10-06 00:58:33.042,2024-10-06 01:02:46.775,Washington Ave & E 167 St,8068.01,College Ave & E 170 St,8175.06,40.829896,-73.907618,40.837576,-73.910489,member
2,4EB0709C97181E8A,electric_bike,2024-10-11 21:15:40.455,2024-10-11 21:46:54.286,E Fordham Rd & Webster Ave,8582.09,Jerome Ave & E Mosholu Pkwy S,8795.01,40.861748,-73.891050,40.879350,-73.885340,member
3,930590FEA1806C34,electric_bike,2024-10-14 19:08:12.154,2024-10-14 19:30:24.011,Washington Ave & E 167 St,8068.01,Frederick Douglass Blvd & W 115 St,7658.13,40.829896,-73.907618,40.803865,-73.955931,casual
4,EA33E5FD386A60F4,electric_bike,2024-10-13 01:19:20.877,2024-10-13 01:29:47.343,E Fordham Rd & Webster Ave,8582.09,Jerome Ave & E Mosholu Pkwy S,8795.01,40.861748,-73.891050,40.879350,-73.885340,casual

In [3]:
nov_dfs = []

nov_dfs.append(pd.read_csv('2024 BIKE DATA/202411-citibike-tripdata/202411-citibike-tripdata_1.csv'))
nov_dfs.append(pd.read_csv('2024 BIKE DATA/202411-citibike-tripdata/202411-citibike-tripdata_2.csv'))
nov_dfs.append(pd.read_csv('2024 BIKE DATA/202411-citibike-tripdata/202411-citibike-tripdata_3.csv'))
nov_dfs.append(pd.read_csv('2024 BIKE DATA/202411-citibike-tripdata/202411-citibike-tripdata_4.csv'))

nov = pd.concat(nov_dfs)
nov.head()

/var/folders/lz/kzff5gf543sbfrp4_42hxgwc0000gn/T/ipykernel_8716/3591797860.py:3: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  nov_dfs.append(pd.read_csv('2024 BIKE DATA/202411-citibike-tripdata/202411-citibike-tripdata_1.csv'))
/var/folders/lz/kzff5gf543sbfrp4_42hxgwc0000gn/T/ipykernel_8716/3591797860.py:4: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  nov_dfs.append(pd.read_csv('2024 BIKE DATA/202411-citibike-tripdata/202411-citibike-tripdata_2.csv'))
/var/folders/lz/kzff5gf543sbfrp4_42hxgwc0000gn/T/ipykernel_8716/3591797860.py:5: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  nov_dfs.append(pd.read_csv('2024 BIKE DATA/202411-citibike-tripdata/202411-citibike-tripdata_3.csv'))
/var/folders/lz/kzff5gf543sbfrp4_42hxgwc0000gn/T/ipykernel_8716/3591797860.py:6: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  nov_dfs.append(pd.read_csv('2024 BIKE DATA/202411-citibike-tripdata/202411-citibike-tripdata_4.csv'))

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,E5B8C4DFACE42813,electric_bike,2024-11-09 12:34:17.909,2024-11-09 12:47:41.956,E 4 St & Ave B,5515.08,Mercer St & Spring St,5532.01,40.723347,-73.982659,40.723627,-73.999496,member
1,66AE1D7C81DAA911,electric_bike,2024-11-25 21:07:32.005,2024-11-25 21:20:34.349,E 39 St & Lexington Ave,6389.09,Greenwich Ave & Charles St,5914.08,40.749499,-73.977292,40.735238,-74.000271,member
2,43A39BF410C2F694,electric_bike,2024-11-16 01:13:03.167,2024-11-16 01:32:16.055,Lafayette St & E 8 St,5788.13,Riverside Dr & W 72 St,7288.04,40.730207,-73.991026,40.780578,-73.985624,member
3,51823416B564CD94,electric_bike,2024-11-24 00:20:20.762,2024-11-24 00:29:38.344,W 47 St & 9 Ave,6786.02,Riverside Dr & W 72 St,7288.04,40.761530,-73.990070,40.780578,-73.985624,member
4,BCC7B6CA4241A466,electric_bike,2024-11-14 09:24:15.552,2024-11-14 09:44:16.923,E 39 St & Lexington Ave,6389.09,South End Ave & Albany St,5114.08,40.749499,-73.977292,40.709957,-74.016538,member

In [4]:
dec_dfs = []

dec_dfs.append(pd.read_csv('2024 BIKE DATA/202412-citibike-tripdata/202412-citibike-tripdata_1.csv'))
dec_dfs.append(pd.read_csv('2024 BIKE DATA/202412-citibike-tripdata/202412-citibike-tripdata_2.csv'))
dec_dfs.append(pd.read_csv('2024 BIKE DATA/202412-citibike-tripdata/202412-citibike-tripdata_3.csv'))

dec = pd.concat(dec_dfs)
dec.head()

/var/folders/lz/kzff5gf543sbfrp4_42hxgwc0000gn/T/ipykernel_8716/1565483944.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  dec_dfs.append(pd.read_csv('2024 BIKE DATA/202412-citibike-tripdata/202412-citibike-tripdata_1.csv'))
/var/folders/lz/kzff5gf543sbfrp4_42hxgwc0000gn/T/ipykernel_8716/1565483944.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  dec_dfs.append(pd.read_csv('2024 BIKE DATA/202412-citibike-tripdata/202412-citibike-tripdata_2.csv'))

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,B44E5B10AEE58AD0,classic_bike,2024-12-14 10:58:18.153,2024-12-14 11:11:11.308,Frederick Douglass Blvd & W 145 St,7954.12,E 138 St & 5 Ave,7809.13,40.823061,-73.941928,40.814490,-73.936153,member
1,BC252DC6A6011556,electric_bike,2024-12-12 14:46:12.473,2024-12-12 16:45:37.777,Madison Ave & E 99 St,7443.01,NaN,NaN,40.789485,-73.952429,40.780000,-73.960000,member
2,6FBE55EF6FE8736D,electric_bike,2024-12-11 07:55:18.770,2024-12-11 08:02:23.460,Columbia St & Kane St,4422.05,NaN,NaN,40.687632,-74.001626,40.690000,-74.000000,member
3,908890DE7FDCF9FE,electric_bike,2024-12-09 22:51:11.668,2024-12-09 22:57:43.495,E 13 St & 2 Ave,5820.08,E 10 St & 2 Ave,5746.02,40.731539,-73.985302,40.729708,-73.986598,member
4,D5D366379A4DC0A8,classic_bike,2024-12-10 18:48:40.063,2024-12-10 19:10:32.264,11 Ave & W 41 St,6726.01,E 25 St & 1 Ave,6004.07,40.760301,-73.998842,40.738177,-73.977387,member